::selection{
  background-color: transparent;
  color: #000;
}
input[type="text"]:focus{   
  border-color: black;
  box-shadow: none;
  outline: 0 none;
}
.hoverable:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}
.logo{
  width: 50px; 
  height: auto;
}
.text{
  position: absolute;
  color: white;
  z-index: 1;
}
.area{
  max-width: 550px;
}
.headerPicture{
  max-width: 100%;
  filter: brightness(50%);
  border-radius: 3px;
  z-index: 0;
}
body{
  background-color: #171717;
}